@font-face {
  font-family: 'minecraft';
  src: url('Minecraft.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'spacegrotesk__bold';
  src: url('SpaceGrotesk-Bold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'spacegrotesk__light';
  src: url('SpaceGrotesk-Light.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'spacegrotesk__medium';
  src: url('SpaceGrotesk-Medium.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'spacegrotesk__regular';
  src: url('SpaceGrotesk-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'spacegrotesk__semibold';
  src: url('SpaceGrotesk-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}